.aling-right {
  margin: 0;
  padding: 1%;

  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex: 100px;
  height: 100px;
}

.aling-center {
  margin: 0;
  padding: 1%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 100px;
  height: 100px;


}



.card {
  //margin: 10px;
  //padding: 30px;
  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #fff;
  border: 1px solid #e5e5e5;
}





.photo {
  margin: 1%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.image {
  color: #778492;
  font-size: 80px;
  text-align: center;
}

.circle {
  clip-path: circle(40% at center);
}

.text-big {
  margin: 1px;
  padding: 1px;

 
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #49515a;
}

.text-medium {
  margin: 1px;
  padding: 1px;

  font-size: 24px;
  color: #778492;
}

.title {
  margin: 1px;
  padding: 1px;

  font-size: 24px;
  color: #434343;
}

.button {
  padding: 10px;
  margin: 1%;

  display: block;
  width: 200px;

  font-size: 16px;
  color: #000000;

  background-color: #d8d5d5;
  border: 2px solid #d8d5d5;
  border-radius: 4px;
  cursor: pointer;
}

.color-blue {
  color: #fff;

  background-color: #3498db;
  border: 2px solid #3498db;
}

.color-green {
  color: #fff;

  background-color: #54ba4e;
  border: 2px solid #54ba4e;
}

.input-group{
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  position: relative;
}

.form-label{
  margin-bottom: 2%;

  display: block;
}

.form-control {
  padding:  10px;

  display: block;
  width: 100%;

  border-radius:  5px;
  border: 2px solid #d3d3d3d1;
}

.icon {
  color: #778492;
  font-size: 32px;
  text-align: center;
}