body {
  margin: 0;
  padding: 0;

  background-color:  #dae3e7;

  font-family: 'Lato', arial, sans-serif;
  font-size: 16px;
  color: #434343;
}

span {
  margin-top: 2%;
  margin-bottom:  2%;
  padding: 0;
}

a {
  margin-top: 2%;
  margin-bottom:  2%;
  padding: 0;

  color: #434343;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}