body {
  margin: 0;
  padding: 0;
  
  font-family: $font;
  font-size: 16px;
  color: $color-text-content;
}

span {
  margin-top: 2%;
  margin-bottom:  2%;
  padding: 0;
}

a {
  margin-top: 2%;
  margin-bottom:  2%;
  padding: 0;

  color: $color-text-content;
  text-decoration: none;
  &:hover {
    font-weight: bold;
  }
}