.header {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  
  background-color: #f5f5f5;
  border: 1px solid rgb(229, 229, 229);
}

.container {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 0;
}

.footer {
  margin: 0;
  padding: 1%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);

  background-color: #32383e;
}

.content {
  margin: 1%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  flex: 400px;
  height: auto;

  border: 1px solid rgb(229, 229, 229);
}

.sidebar {
  margin: 1%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  
  flex: 50px;
  height: auto;

  border: 1px solid rgb(229, 229, 229);  
}

@media screen and (min-width: 500px) {
  .header {
    flex-direction: row;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .sidebar {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 800px) {
  .header {
    flex-direction: row;
  }

  .container {
    row-gap: 10px;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 5px;
  }
  
  .sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px;  
  }
}