.header {
  margin: 0;
  padding: 0;
  
  @extend %flexbox-column;
  align-items: center;
  flex-wrap: wrap;
  
  background-color: $background-color-header;
  border: 1px solid $color-border;
}

.container {
  margin: 0;
  padding: 0;

  @extend %flexbox-row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 0;

  background-color:  $background-color-container;
}

.footer {
  margin: 0;
  padding: 1%;

  @extend %flexbox-column;
  justify-content: center;
  align-items: center;

  color: $color-white;

  background-color: $background-color-footer;
}

.content {
  margin: 1%;
  padding: 1%;

  @extend %flexbox-column;
  flex: 400px;
  height: auto;

  border: 1px solid $color-border;
}

.sidebar {
  margin: 1%;
  padding: 1%;

  @extend %flexbox-column;
  
  flex: 50px;
  height: auto;

  border: 1px solid $color-border;  
}

@media screen and (min-width: $medium-width) {
  .header {
    flex-direction: row;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .sidebar {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: $high-width) {
  .header {
    flex-direction: row;
  }

  .container {
    row-gap: 10px;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 5px;
  }
  
  .sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px;  
  }
}