<header class="header">
    <img src="./assets/images/perfil.jpg" alt="Universitat Oberta de Catalunya" class="photo circle" />
    <div>
        <p class="text-big">Silvio Quezada</p>
        <p class="text-medium">Ecuador</p>
        <div>
            <a href="https://www.linkedin.com/in/silvio-vinicio-quezada-3174b610a/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/silvio.quezada.3"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/silvio.quezada.3/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="aling-right">
        <button class="button color-green"><i class="fa-solid fa-paper-plane"></i> Contáctame</button>
    </div>
</header>