<aside class="sidebar">
  <div class="card">
    <span><i class="fa-solid fa-location-dot"></i> Santa Rosa - La Victoria</span>
    <span><i class="fa-solid fa-envelope"></i> sss.silq@gmail.com</span>
    <span><i class="fas fa-university"></i> UOC</span>
  </div>

  <div class="card">
    <h2 class="title">Aficiones</h2>
      <a class="" href="#aficionprogramacion">Aprender a Programar</a>
      <a class="" href="#aficiondeporte">Hacer Deporte</a>
      <a class="" href="#aficionvideos">Ver videos y series</a>
  </div>

  <div class="card">
    <h2 class="title">Envíame tu Comentario</h2>
    <div class="input-group">
      <label class="form-label" for="username">Nombre Usuario:</label>
      <input class="form-control" id="username" type="text" placeholder="Enter username">
    </div>
    <div class="input-group">
      <label class="form-label" for="email">Correo:</label>
      <input class="form-control" id="email" type="text" placeholder="Enter email">
    </div>
    <div class="input-group">
      <label class="form-label" for="coment">Comentario:</label>
      <textarea class="form-control" id="coment"></textarea>
    </div>
    <div class="input-group content-aling-center">
      <button class="button button-color-blue"><i class="fa-solid fa-paper-plane"></i> Enviar Mensaje</button>
    </div>
  </div>
</aside>